
*{
    margin: 0;
    padding: 0;
}

main{
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}

.card{
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 15px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 4px 46px 14px rgba(0, 0, 0,0.3);
    transition: 0.4s ease-out;
}

.card:hover{
    scale: 1.06;

}

.card img{
    width: 100%;
    border-radius: 8px;
}

/* Additional begins */

.additional h1{
    font-size: 20px;
    margin-top:25px;
    color:hsl(0, 0%, 100%);
}

.additional>p{
    font-size: 20px;
    margin-top: 15px;
    color:hsl(215, 51%, 70%,0.7);
}


/* Additional ends */



/* NFT price date begins */
.nft-price-date{
    margin-top: 20px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.price, .date{
    display: flex;
}

.price img{
    width: 14px;
}

.date img{
    width: 22px;
}

.price p{
    padding-left: 6px;
    padding-top: 1px;
    font-weight: 600;
    color:hsl(178, 100%, 50%);
}

.date p{
    color:hsl(215, 51%, 70%,0.7);
    padding-left: 6px;
    padding-top: 2px;
}
/* NFT price date ends */

/* Creator begins */
.creator{
    margin-top: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.creator p{
    font-size: 20px;
    margin-left: 15px;
    color: hsl(215, 51%, 70%,0.7);
}

.creator p span{
    color: hsl(0, 0%, 100%);
}

.ctr-img-div{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ctr-img-div img{
    width: 90%;
}
/* Creator ends */

@media screen and (min-width:375px) and (max-width:1440px){
    main{
        font-size: 14px;
    }

    .card{
        width: 250px;
    }

    .ctr-img-div{
        width:30px;
        height: 30px;
    }

    .ctr-img-div img{
        width: 93%;
    }
}